img {
    width:  100px;
    height: 300px;
    object-fit: cover;
  }
  
    body {
      font-family: Arial;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: flex-start;
    }
    
    header {
      padding: 40px;
      text-align: center;
      background: brown;
      color: #fff;
    }
    
    nav {
      display: inline-flex;
      background-color: black;
    }
    
    nav a {
      color:white;
      padding: 5px;
      width: 100%;
      text-decoration: none;
      text-align: center;
    }
    
    main {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }
    
    footer {
      width: 100%;
      bottom: 0;
      padding: 20px;
      text-align: center;
      background: #13293d;
      color: #fff;
      margin-top: auto;
    }
    
    .products {
      text-align: center; 
      padding: 1em; 
      border: 0.5 em solid black;
      width: 4 em;
      height: 4 em; 
      flex: 4;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
    }
    
    /* Added rotation, box-shadow, border-radius */
    .card {
      border-style: solid;
      border-width: 1px;
      flex: 0 0 300px;
      transform: rotate(0deg);
      box-shadow: 10px 10px 5px #aaaaaa;
      margin: 20px;
    }
    
    /* Added border-radius to match the card */
    .card header {
      padding: 20px;
    }
    
    .card p {
      text-align: center;
    }
    
    .card img {
      width: 100%;
    }
    
    @media screen and (max-width: 768px) {
      main,
      nav {
        flex-direction: column;
      }
    }
    